<mat-toolbar color="primary">
    <div>
      <form class ="tp-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Start here..." aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="onOptionSelected(option)" *ngFor="let option of filteredMindMaps | async" [value]="option.text">
              {{option.text}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <div fxLayout fxLayoutGap="10px">
          <button mat-icon-button (click)="onAddNewMap()">
            <mat-icon>add_box</mat-icon>
          </button>
          <button mat-icon-button (click)="fileinput.click()">
            <mat-icon>cloud_upload</mat-icon>
          </button>
          <button mat-icon-button (click)="onBackupData()">
            <mat-icon>cloud_download</mat-icon>
          </button>
          <input #fileinput type="file" (change)="onFileUpload($event)" hidden>
      </div>
     </div>
</mat-toolbar>